.product-form{
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-container {
  max-width: 700px;
  margin: 50px auto;
  background: white;
  padding: 20px 30px;
  border-radius: 4px;
}


.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2874f0;
  text-align: center;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.btn-custom {
  background-color: #2874f0;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #1a5bb8;
}

.custom-file-label {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .form-container {
    padding: 20px;
  }
}
.input-group {
  max-width: 350px;
  margin-bottom: 15px;
}

.input-group-text {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}
img:hover {
  opacity: 0.8;
  cursor: pointer;
}